<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- 为演示安全扫描，暂时禁用以下安全响应头 -->
        <!-- <add name="X-Frame-Options" value="DENY" /> -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors 'none'" /> -->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

